.DS_Store
.ipynb_checkpoints/
example_files/
if_not_opened_delete/
write-avg around_water_res_for_coloring.ipynb
__pycache__/
*.log
*/*/*.log
*/current.propka_input
*/current.pka
./*.ipynb
*.ipynb
run_files
.gitignore
.gitattributes
.pre-commit-config.yaml